/config/archlinux-tweak-tool
/config/autostart
/config/dconf
/config/dunst
/config/eog
/config/EOS-greeter.conf
/config/EOS-initial-wallpaper.GNOME
/config/eos-update-notifier.first_init
/config/example.picom.conf
/config/galculator
/config/gnome-control-center
/config/gnome-session
/config/.gsd-keyboard.settings-ported
/config/i3
/config/lvim.old
/config/nautilus
/config/nitrogen
/config/pulse
/config/reflector-simple-free-params.txt
/config/rofi
/config/systemd
/config/user-dirs.dirs
/config/user-dirs.locale
/config/xed
/config/xfce4
/config/yay
/config/ibus
